container_commands:
  01_create_env_file:
    command: |
      echo "APP_NAME=Laravel" > .env
      echo "APP_ENV=$APP_ENV" >> .env
      echo "APP_KEY=$(php artisan key:generate --show)" >> .env
      echo "APP_DEBUG=$APP_DEBUG" >> .env
      echo "APP_URL=$APP_URL" >> .env
      echo "" >> .env
      echo "DB_CONNECTION=$DB_CONNECTION" >> .env
      echo "DB_HOST=$DB_HOST" >> .env
      echo "DB_PORT=$DB_PORT" >> .env
      echo "DB_DATABASE=$DB_DATABASE" >> .env
      echo "DB_USERNAME=$DB_USERNAME" >> .env
      echo "DB_PASSWORD=$DB_PASSWORD" >> .env
      echo "" >> .env
      echo "CACHE_DRIVER=file" >> .env
      echo "QUEUE_CONNECTION=sync" >> .env
      echo "SESSION_DRIVER=file" >> .env
      echo "SESSION_LIFETIME=120" >> .env
