container_commands:
  01_create_env_file:
    command: |
      echo "APP_NAME=Laravel" > /var/app/current/.env
      echo "APP_ENV=$APP_ENV" >> /var/app/current/.env
      echo "APP_KEY=$(php artisan key:generate --show)" >> /var/app/current/.env
      echo "APP_DEBUG=$APP_DEBUG" >> /var/app/current/.env
      echo "APP_URL=$APP_URL" >> /var/app/current/.env
      echo " " >> /var/app/current/.env
      echo "DB_CONNECTION=$DB_CONNECTION" >> /var/app/current/.env
      echo "DB_HOST=$DB_HOST" >> /var/app/current/.env
      echo "DB_PORT=$DB_PORT" >> /var/app/current/.env
      echo "DB_DATABASE=$DB_DATABASE" >> /var/app/current/.env
      echo "DB_USERNAME=$DB_USERNAME" >> /var/app/current/.env
      echo "DB_PASSWORD=$DB_PASSWORD" >> /var/app/current/.env
      echo "" >> /var/app/current/.env
      echo "CACHE_DRIVER=file" >> /var/app/current/.env
      echo "QUEUE_CONNECTION=sync" >> /var/app/current/.env
      echo "SESSION_DRIVER=file" >> /var/app/current/.env
      echo "SESSION_LIFETIME=120" >> /var/app/current/.env
    leader_only: true

  02_install_composer:
    command: |
      cd /var/app/current
      if ! [ -x "$(command -v composer)" ]; then
        echo "Installing Composer..."
        curl -sS https://getcomposer.org/installer | php
        mv composer.phar /usr/local/bin/composer
      fi
      echo "Running Composer Install..."
      /usr/local/bin/composer install --no-interaction --prefer-dist --optimize-autoloader --no-dev

  03_clear_caches:
    command: |
      cd /var/app/current
      php artisan config:clear
      php artisan cache:clear
      php artisan view:clear

  04_cache_config:
    command: |
      cd /var/app/current
      php artisan config:cache
      php artisan view:cache

  05_run_migrations:
    command: |
      cd /var/app/current
      php artisan migrate --force
    leader_only: true
