packages:
  yum:
    libzip: []
    libzip-devel: []
    php-devel: []
    gcc: []
    make: []
commands:
  01_install_zip_extension:
    command: |
      if ! php -m | grep -q 'zip'; then
        pecl install zip < /dev/null
      fi
  02_enable_zip_extension:
    command: |
      if ! php -m | grep -q 'zip'; then
        echo "extension=zip.so" > /etc/php.d/50-zip.ini
      fi
